.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0 8rem;
  gap: 16px;
  font-weight: bold;
  color: #575757;
  min-height: 100vh;
  box-sizing: border-box;
}

.blackBackground {
  background-color: #808080;
}

.whiteBackground {
  background-color: white;
}

h1 {
  font-size: 14px;
}

.addButton {
  width: fit-content;
  padding: 12px 24px;
  background-color: #f77f54;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

@media (max-width: 760px) {
  .container {
    padding: 1rem 0 0 2rem
  }
}

