$primary-color: #e4875d;
$black: #000;
$light-black: #777;
$white: #f8f9fa;
$grey: #2c2c2c;

.sidebar {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 12px 0px 0px 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #F6F8F8;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 12px;

    h2 {
      font-size: 18px;
      font-weight: bold;
      color: $black;
    }

    .closeBtn {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
      color: $light-black;
      &:hover {
        color: $black;
      }
    }
  }

  .searchContainer {
    position: relative;
    width: 100%;
    padding: 20px;

    .searchIcon {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      color: $light-black;
    }

    .search {
      width: 85%;
      padding: 10px 10px 10px 35px;
      border: 1px solid #ccc;
      border-radius: 10px;
      color: $grey;
    }
  }

  .speakerList {
    flex-grow: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 20px;

    .speakerItem {
      display: flex;
      align-items: flex-start;
      padding: 25px 15px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 15px;
      position: relative;
      &.selected {
        border: 1px solid;
        border-color: #28a745;
      }

      .avatar {
        width: 48px;
        height: 48px;
        margin-right: 10px;
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .details {
        flex-grow: 1;

        h3 {
          font-size: 16px;
          margin: 0;
          font-weight: bold;
          color: #373F66;
        }

        .speakerInfo {
          font-size: 14px;
          margin: 5px 0;
          color: #717693;
          display: flex;
          align-items: center;
          .separator {
            margin: 0 20px; 
          }
        }

        .editBtn {
          background: none;
          border: none;
          color: $primary-color;
          display: flex;
          align-items: center;
          font-size: 14px;
          cursor: pointer;
          margin-top: 20px;
          svg {
            margin-right: 5px;
          }
        }
      }

      .checkbox {
        width: 14px;
        height: 14px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        position: absolute;
        top: 15px;
        right: 15px;

        &:checked {
          background-color: #28a745; 
          border-color: #28a745;     
        }
        &:checked::before {
          content: "\2713"; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 10px;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 12px;

    button {
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }

    .addButton {
      background-color: #ccc;
      color: white;
      &.active {
        background-color: $primary-color;
      }
    }

    .cancelButton {
      background-color: #fcf3ef;
      color: $primary-color;
      margin-left: 10px;
    }

    .createButton {
      background-color: transparent;
      color: $primary-color;
      font-weight: bold;
    }
  }
}

@media (max-width: 760px) {
  .sidebar {
    max-width: 100%;
  }

  .speakerItem {
    flex-direction: column;
    align-items: flex-start;
    
    .avatar {
      margin-bottom: 10px;
    }

    .details {
      margin-bottom: 10px;
      .speakerInfo {
        .separator {
          margin: 0 5px;
        }
      }
    }

    .checkbox {
      margin-left: 0;
    }
  }
}
